.Nav{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    align-items: center;
    z-index: 1;
    transition: all ease-in 0.5s;
}
.nav_logo{
    width: 100px;
    object-fit: contain;
    position: fixed;
    left: 0;
}
.nav_avatar{
    width: 30px;
    object-fit: contain;
    
    right: 20px;
}
.nav_black{
    background-color: #111;
    transition: all ease-in 0.5s;
}
